@supports font-tech(variations) {
    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat/woff2/Montserrat-VariableFont_wght.woff2')
                format('woff2') tech(variations),
            url('@/assets/fonts/Montserrat/woff/Montserrat-VariableFont_wght.woff')
                format('woff') tech(variations),
            url('@/assets/fonts/Montserrat/ttf/Montserrat-VariableFont_wght.ttf')
                format('truetype') tech(variations);
        font-weight: 1 999;
    }
}

@supports not font-tech(variations) {
    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat/woff2/Montserrat-Regular.woff2')
                format('woff2'),
            url('@/assets/fonts/Montserrat/woff/Montserrat-Regular.woff')
                format('woff'),
            url('@/assets/fonts/Montserrat/ttf/Montserrat-Regular.ttf')
                format('truetype');
        font-weight: 400;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat/woff2/Montserrat-Medium.woff2')
                format('woff2'),
            url('@/assets/fonts/Montserrat/woff/Montserrat-Medium.woff')
                format('woff'),
            url('@/assets/fonts/Montserrat/ttf/Montserrat-Medium.ttf')
                format('truetype');
        font-weight: 500;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat/woff2/Montserrat-SemiBold.woff2')
                format('woff2'),
            url('@/assets/fonts/Montserrat/woff/Montserrat-SemiBold.woff')
                format('woff'),
            url('@/assets/fonts/Montserrat/ttf/Montserrat-SemiBold.ttf')
                format('truetype');
        font-weight: 600;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat/woff2/Montserrat-Bold.woff2')
                format('woff2'),
            url('@/assets/fonts/Montserrat/woff/Montserrat-Bold.woff')
                format('woff'),
            url('@/assets/fonts/Montserrat/ttf/Montserrat-Bold.ttf')
                format('truetype');
        font-weight: 700;
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('@/assets/fonts/Montserrat/woff2/Montserrat-Black.woff2')
                format('woff2'),
            url('@/assets/fonts/Montserrat/woff/Montserrat-Black.woff')
                format('woff'),
            url('@/assets/fonts/Montserrat/ttf/Montserrat-Black.ttf')
                format('truetype');
        font-weight: 900;
    }
}
